@import url('https://fonts.googleapis.com/css2?family=Glory&family=Urbanist:wght@300&display=swap');

@font-face {
  font-family: GenshinImpact;
  src:url(../fonts/genshin_impact.woff);
}

body {
  font-family: 'Glory', sans-serif;
  font-size: 17px;
}

body, html {
  height: 100%;
}

html {
  position: relative;
}

.navbar{
  margin-bottom: 0px !important
}

.hero {
  min-height: 50vh;
  background: #000 url(../images/header.jpg) center center no-repeat;
  opacity: 0.5;
  background-size: cover;
  position: relative;
}
.hero:before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar a {
  color: rgb(85, 8, 34);
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
}

h1 {
  color: rgb(85, 8, 34);
  margin-left: 100px;
  font-family: 'Urbanist', sans-serif;
  font-size: 40px;
  text-align: left;
}

h2 {
  color: rgb(85, 8, 34);
  font-family: 'Urbanist', sans-serif;
  font-size: 30px;
}

.title {
  color: grey;
  font-size: 1.3vw;
  font-family: 'Urbanist', sans-serif;
}

.name {
  color: rgb(85, 8, 34);
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  font-size: 1.8vw;
}

.desch {
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.left {
  float: left;
  margin-left: 2%;
}

.right {
  float: right;
  margin-right: 2%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kohane {
  border: 5px solid pink;
}

.toya {
  border: 5px solid rgb(49, 132, 180);
}

.akito {
  border: 5px solid rgb(180, 108, 49);
}

.topmargin {
  margin-top: 2%;
}

.leftmargin {
  margin-left: 2%;
}

.rightmargin {
  margin-right: 2%;
}

.bottommargin {
  margin-bottom: 2%;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}